.bd {
  position: relative;
  z-index: 15;
  display: flex;
  top: 8%;
}
.bd-cover {
  position: absolute;
  left: -70%;
}
.bd-text > div {
  transform: translateX(150vw); /* complètement hors écran à droite */
}
.bd-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100%;
}
.bd-title {
  color: #fff;
  font-size: 128px;
  font-family: "BornLosersSans", sans-serif;
}
.bd-editor {
  color: #fff;
  font-family: Satoshi;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 136.78%;
  text-transform: uppercase;
  margin-top: 8%;
}

.bd-authors {
  color: #cd0c7a;
  font-family: Satoshi;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  width: 317px;
}
.bd-description {
  color: #fff;
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  width: 580px;
  margin-top: 5%;
}
.bd-button {
  margin-top: 13%;
}
