.issue-image {
  inset: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  position: absolute;
}

.issue-text {
  font-family: "SatoshiRegular", sans-serif;
  color: #cd0c7a;
  font-size: 36px;
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 11;
  opacity: 100;
}

.issue-sun {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 40%;
  left: 50%;
}
