.tourists-text {
  font-family: "SatoshiRegular", sans-serif;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 5;
  color: #cd0c7a;
  font-size: 45;
  opacity: 0;
}

.grass-right {
  width: 70%;
  height: 25%;
  background-color: green;
  right: -70%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.grass-left {
  width: 70%;
  height: 25%;
  background-color: green;
  left: -70%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}

.tourists-right {
  width: 50%;
  height: 25%;
  background-color: pink;
  right: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}
.tourists-left {
  width: 50%;
  height: 25%;
  background-color: pink;
  left: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}
