.tourists-text {
  font-family: "SatoshiRegular", sans-serif;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 5;
  color: #cd0c7a;
  font-size: 36px;
  opacity: 0;
}

.grass-right {
  right: -75%;
  bottom: 0;
  z-index: 6;
  position: absolute;
}
.grass-left {
  left: -90%;
  bottom: 0;
  z-index: 5;
  position: absolute;
}

.tourists-right {
  right: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}
.tourists-left {
  left: -50%;
  bottom: 20%;
  z-index: 5;
  position: absolute;
}
