* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.word {
  font-family: BornLosersSans;
  font-size: 96px;
}

.sequence {
  display: none;
}

.sequence-2 {
  background-color: black;
  display: none;
}

.sequence.visible {
  display: block;
}
