* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.word {
  font-family: BornLosersSans;
  font-size: 96px;
}

.sequence {
  display: none;
}

.sequence-2 {
  background-color: black;
  display: none;
}

.sequence.visible {
  display: block;
}

button {
  border: none;
  position: fixed;
  top: 7%;
  left: 4%;
  z-index: 1000; /* toujours au-dessus */
  padding: 0;
  background: none;
  cursor: pointer;
}

button img {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
}

button .btn-hover {
  opacity: 0;
}

button:hover .btn-default {
  opacity: 0;
}

button:hover .btn-hover {
  opacity: 1;
}
.fixed-button-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none; /* le conteneur ne bloque pas le hover, le bouton oui */
}

.fixed-button-container button {
  pointer-events: auto;
}
