@font-face {
  font-family: "BornLosersSans";
  src: url("/src/font/BornLosersSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiRegular";
  src: url("/src/font/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("/src/font/Satoshi-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SatoshiLightItalic";
  src: url("/src/font/Satoshi-LightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
